<html ng-app="ExodocDashboardApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/dashboard.css">
		<link rel="stylesheet" href="css/animate.min.css">
		<link rel="stylesheet" href="css/jquery.jqplot.css">

		<meta name="apple-mobile-web-app-title" content="exodoc">
		<title>Exodoc dashboard</title>
		<script type="text/javascript" src="js/config.js"></script>
		<script type="text/javascript" src="js/underscore-min.js"></script>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/ui-bootstrap-tpls.min.js"></script>
		<script type="text/javascript" src="js/jquery.sparkline.min.js"></script>
		<script type="text/javascript" src="js/jquery.easypiechart.min.js"></script>
		<script type="text/javascript" src="js/jquery.jqplot.min.js"></script>
		<script type="text/javascript" src="js/jqplot.donutRenderer.js"></script>
		<script type="text/javascript" src="js/juration.js"></script>
		<script type="text/javascript" src="js/cssua.js"></script>

		<!-- Application -->
		<script type="text/javascript" src="app/js/riemann.js"></script>
		<script type="text/javascript" src="app/js/app.js"></script>

	</head>
	<body style="background-image: url('/img/background.jpg');">
		<div ng-controller="ExodocDashboardCtrl" class="container-fluid" interval="30s">
			<div ng-if="error" class="alert alert-danger">
				<span ng-bind="error"></span>
			</div>
			<h1>exo<b>doc</b> dashboard

				<a class="btn-rounded btn btn-link btn-xs" ng-click="refresh()"><i class="glyphicon glyphicon-refresh"></i></a>

				<rm-flip-clock class="pull-right"></rm-flip-clock>
				<small ng-if="status.connected" class="rm-cell-state rm-state-ok pull-right">Connected</small>
				<small ng-if="!status.connected" class="rm-cell-state rm-state-critical pull-right">disconnected</small>
			</h1>

			<hr>

	<div class="row">
		<div class="col-lg-3">
					<h3 class="title-group">Hosts</h3>
					<table class="rm-table">
						<thead>
							<tr>
								<th style="width:50%;"></th>
								<th>Load</th>
								<th>Memory</th>
								<th>Disk /</th>
							</tr>
						</thead>
						<tbody>
							<tr class="span-width" ng-repeat="(host, services) in all_hosts" host="{{host}}">
								<td>
									<span class="rm-cell-state-2x rm-state-{{services.cpu.state}}">{{host}}</span>
								</td>
								<td>
									<span class="rm-cell-state rm-state-{{services.load.state}}" ng-hide="!services.load.state">
										<rm-sparkline service="load" title="" min="0" max="10.0" height="20px" show-value="fixed-2" unit="">
										</rm-sparkline>
									</span>
								</td>
								<td>
									<span class="rm-cell-state rm-state-{{services.memory.state}}" ng-hide="!services.memory.state">
										<rm-sparkline service="memory" title="" min="0" max="1.0" height="20px" show-value="percent" unit="%">
										</rm-sparkline>
									</span>
								</td>
								<td>
									<span class="rm-cell-state rm-state-{{services['disk /'].state}}" ng-hide="!services['disk /'].state">
										{{services['disk /'].metric * 100.0|number:2}} %
										<span class="mini-progress" style="width:{{services['disk /'].metric * 100.0|number:2}}%;"></span>
									</span>
								</td>
							</tr>
						</tbody>
					</table>

		</div>
		<div class="col-lg-9">
			<div class="row" host="exodoc">
				<div class="col-lg-4">
					<h3 class="title-group">Production</h3>
					<div class="rm-cell-state-2x" rm-state="exodoc.web">
						<span>django</span>
					</div>
					<div class="rm-cell-state-2x" rm-state="exodoc.api">
						<span>node.js</span>
					</div>
					<div class="rm-cell-state-2x" rm-state="redis">
						<span>redis</span>
					</div>
					<div class="rm-cell-state-2x" rm-state="nginx.active">
						<span>nginx</span>
					</div>
					<div class="rm-cell-state-2x" rm-state="DB.exodoc.size">
						<span>postgresql</span>
					</div>
					<div class="rm-cell-state-2x" host="prod-exodoc-upload-1" rm-state="exodoc.web">
						<span>upload</span>
					</div>
					<div class="rm-cell-state-2x" host="exodoc-transform." rm-state="actarus">
						<span>transformer</span>
					</div>
					<div class="rm-cell-state-2x" host="sentry" rm-state="cpu">
						<span>sentry</span>
					</div>
					<div class="rm-cell-state-2x" host="elasticsearch" rm-state="cpu">
						<span>elasticsearch</span>
					</div>
					<div class="rm-cell-state-2x" host="epyx-backup" rm-state="cpu">
						<span>cdn-bkp</span>
					</div>
					<div class="rm-cell-state-2x" host="prod-exodoc" rm-state="postgres-backup">
						<span>postgres-bkp</span>
					</div>
                    <div class="rm-cell-state-2x" host="epyx-backup" rm-state="prod-exodoc rsync">
                        <span>bkp-rsync</span>
                    </div>
				</div>

				<div class="col-lg-1" host="elasticsearch">
					<div class="rm-cell rm-cell-bordered">
						<h2>ES disk</h2>
						<rm-easy-pie service="disk /" size="80" unit="%">
							</rm-easy-pie>
						<div class="rm-cell-sep"></div>
						<rm-sparkline interval="2s" service="load" title="load" min="0" max="1.0" height="28px" show-value="percent" unit="%">
							</rm-sparkline>
					</div>
				</div>

				<div class="col-lg-2" host="epyx-backup">
					<div class="rm-cell rm-cell-bordered">
						<h2>epyx backup</h2>
						<rm-easy-pie service="disk /mnt/data" size="80" unit="%">
							</rm-easy-pie>
						<table class="rm-table">
							<tr>
								<td style="width: 30%">CDN</td>
								<td class="graphite-text">
									<rm-last-metric show-time=true service="exodoc.backup.cdn.duration" format="duration"></rm-last-metric>
								</td>
							</tr>
							<tr>
								<td>DB</td>
								<td class="graphite-text">
									<rm-last-metric show-time=true service="exodoc-ch rsync" format="duration"></rm-last-metric>
								</td>
							</tr>
						</table>
					</div>
				</div>

				<div class="col-lg-1" host="exodoc-jenkins">
					<div class="rm-cell rm-cell-bordered">
						<h2>VLG jenkins</h2>
						<rm-easy-pie service="disk /mnt/backup" size="80" unit="%">
							</rm-easy-pie>
						<div class="rm-cell-sep"></div>
						<rm-sparkline interval="2s" service="load" title="load" min="0" max="1.0" height="28px" show-value="percent" unit="%">
						</rm-sparkline>
					</div>
				</div>

				<div class="col-lg-2">
					<div class="rm-cell rm-cell-bordered">
						<h2>nginx 7 d activities</h2>
						<rm-graphite from="-7days" height="120" >
							<serie service="nginx.active" color="444488"></serie>
						</rm-graphite>
					</div>
				</div>

				<div class="col-lg-2">
					<div class="rm-cell rm-cell-bordered" host="front-prod-exodoc-1">
						<h2>HAProxy 7 d sessions</h2>
						<rm-graphite from="-7days" height="120" >
							<serie service="haproxy.prod-exodoc-https.FRONTEND.scur" color="444488"></serie>
						</rm-graphite>
					</div>
				</div>

			</div>
			<hr>

			<div class="row" host="dev-exodoc">
				<div class="col-lg-4">
					<h3 class="title-group">Sandbox</h3>
					<div class="rm-cell-state-2x" rm-state="exodoc.web">
						<span>django</span>
					</div>
					<div class="rm-cell-state-2x" rm-state="exodoc.api">
						<span>node.js</span>
					</div>
					<div class="rm-cell-state-2x" rm-state="redis">
						<span>redis</span>
					</div>
					<div class="rm-cell-state-2x" rm-state="nginx.active">
						<span>nginx</span>
					</div>
					<div class="rm-cell-state-2x" host="dev-exodoc-upload" rm-state="exodoc.web">
						<span>upload</span>
					</div>
                    <div class="rm-cell-state-2x" host="dev-exodoc" rm-state="postgres-backup">
                        <span>postgres-bkp</span>
                    </div>
                    <div class="rm-cell-state-2x" host="epyx-backup" rm-state="dev-exodoc rsync">
                        <span>bkp-rsync</span>
                    </div>
					<div class="rm-cell-state-2x" host="front-dev-exodoc-1" rm-state="haproxy.dev-exodoc-https.FRONTEND.req_rate">
                        <span>HAProxy</span>
                    </div>
				</div>

				<div class="col-lg-1">
					<div class="rm-cell rm-cell-bordered">
						<h2>Disk</h2>
						<rm-easy-pie service="disk /" size="80" unit="%">
							</rm-easy-pie>
					</div>
				</div>

				<div class="col-lg-3">
					<h4 class="title-group">Un-boring zone</h4>
					<lorem-image height="150" width="300"></lorem-image>
				</div>

				<div class="col-lg-2">
					<div class="rm-cell rm-cell-bordered">
						<h2>nginx 7 d activities</h2>
						<rm-graphite from="-7days" height="120" >
							<serie service="nginx.active" color="444488"></serie>
						</rm-graphite>
					</div>
				</div>

				<div class="col-lg-2">
					<div class="rm-cell rm-cell-bordered" host="front-prod-exodoc-1">
						<h2>HAProxy 7 d sessions</h2>
						<rm-graphite from="-7days" height="120" >
							<serie service="haproxy.prod-exodoc-https.FRONTEND.scur" color="444488"></serie>
						</rm-graphite>
					</div>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-lg-4">
					<h3 class="title-group">Riak-CS</h3>
					<div class="rm-cell-state-2x" host="cs-node-0001" rm-state="riak.disk">
						<span>node-1</span>
					</div>
					<div class="rm-cell-state-2x" host="cs-node-0002" rm-state="riak.disk">
						<span>node-2</span>
					</div>
					<div class="rm-cell-state-2x" host="cs-node-0001" rm-state="nginx.active">
						<span>nginx</span>
					</div>
					<div class="rm-cell-state-2x" host="front-cdn-1" rm-state="haproxy.s3-http.FRONTEND.status">
						<span>HAProxy</span>
					</div>
				</div>

				<div class="col-lg-1">
					<div class="rm-cell rm-cell-bordered">
						<h2>Storage</h2>
						<rm-easy-pie host="cs-node-0001" service="disk /" size="80" unit="%">
							</rm-easy-pie>
					</div>
				</div>

				<div class="col-lg-2">
					<div class="rm-cell rm-cell-bordered">
						<h2>Last 48 h get/put [n1]</h2>
						<rm-graphite from="-48hours" host="cs-node-0001" height="120" hide-legend="true">
							<serie service="riak.get.50" color="444466"></serie>
							<serie service="riak.get.99" color="8888AA"></serie>
							<serie service="riak.put.50" color="664444"></serie>
							<serie service="riak.put.99" color="AA8888"></serie>
						</rm-graphite>
						<rm-legend color="#8888AA">download (50,99)</rm-legend>
						<rm-legend color="#AA8888">upload (50,99)</rm-legend>
					</div>
				</div>

				<div class="col-lg-2">
					<div class="rm-cell rm-cell-bordered">
						<h2>Last 48 h get/put [n2]</h2>
						<rm-graphite from="-48hours" host="cs-node-0002" height="120" hide-legend="true">
							<serie service="riak.get.50" color="444466"></serie>
							<serie service="riak.get.99" color="8888AA"></serie>
							<serie service="riak.put.50" color="664444"></serie>
							<serie service="riak.put.99" color="AA8888"></serie>
						</rm-graphite>
						<rm-legend color="#8888AA">download (50,99)</rm-legend>
						<rm-legend color="#AA8888">upload (50,99)</rm-legend>
					</div>
				</div>

				<div class="col-lg-1">
				</div>

				<div class="col-lg-2">
					<div class="rm-cell rm-cell-bordered" host="front-cdn-1">
						<h2>HAPoxy 7 d sessions</h2>
						<rm-graphite from="-7days" height="130" hide-legend="true">
							<serie service="haproxy.s3-https.FRONTEND.scur" color="669944"></serie>
							<serie service="haproxy.s3-http.FRONTEND.scur" color="8888AA"></serie>
						</rm-graphite>
						<rm-legend color="#669944">scur (https)</rm-legend>
						<rm-legend color="#8888AA">scur (http)</rm-legend>
					</div>
				</div>
			</div>

			<h2>Key metrics</h2>
			<div class="row" host="exodoc">
				<div class="col-lg-3">
					<div class="rm-cell rm-cell-bordered">
						<h2>Documents security level</h2>
						<rm-donut interval="5m" height="250">
							<part target="exodoc.doc_public" color="#afa" count="true">Public</part>
							<part target="exodoc.doc_internal" color="#aaf" count="true">Internal</part>
							<part target="exodoc.doc_confidential" color="#eeb" count="true">Confid.</part>
							<part target="exodoc.doc_secret" color="#faa" count="true">Secret</part>
						</rm-donut>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="rm-cell rm-cell-bordered">
						<h2>Users</h2>
						<table class="rm-table">
							<tr><td>active</td><td><rm-live-metric service="exodoc.user_active"></rm-live-metric>
								<span class="label-alpha pull-right">
									<rm-tendency service="exodoc.user_active" from="-7days"></rm-tendency>
								</span>
							</td></tr>
							<tr><td>90 days inactive</td><td>
								<rm-live-metric service="exodoc.user_90_inactive"></rm-live-metric>
								<span class="label-alpha pull-right">
									<rm-tendency reversed service="exodoc.user_90_inactive" from="-90days"></rm-tendency>
								</span>
							</td></tr>
							<tr><td>active oauth2</td><td>
								<rm-live-metric service="exodoc.oauth2_token_active"></rm-live-metric>
								<span class="label-alpha pull-right">
									<rm-tendency service="exodoc.oauth2_token_active" from="-2days"></rm-tendency>
								</span>
							</td></tr>
						</table>
						<h2>Files</h2>
						<table class="rm-table">
							<tr><td>count</td><td><rm-live-metric service="exodoc.file_ready"></rm-live-metric></td></tr>
							<tr><td>size</td><td><rm-live-metric format="file-size" service="exodoc.file_total_size"></rm-live-metric></td></tr>
							<tr><td>duplication</td><td><rm-live-metric format="percent" service="exodoc.file_copy"></rm-live-metric> %</td></tr>
							<tr><td>change factor</td><td><rm-live-metric format="fixed-2" service="exodoc.file_avg_version"></rm-live-metric></td></tr>
						</table>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="rm-cell rm-cell-bordered" interval="5m">
						<h2>Documents</h2>
						<table class="rm-table">
							<tr><td>total</td><td><rm-live-metric service="exodoc.doc_total"></rm-live-metric></td></tr>
							<tr><td>total size</td><td><rm-live-metric format="file-size" service="exodoc.doc_total_size"></rm-live-metric></td></tr>
							<tr><td>duplication</td><td><rm-live-metric format="percent" service="exodoc.doc_copy"></rm-live-metric> %</td></tr>
							<tr><td>change factor</td><td><rm-live-metric format="fixed-2" service="exodoc.doc_avg_version"></rm-live-metric></td></tr>
							<tr><td>download count</td><td>
								<rm-live-metric service="exodoc.doc_total_download"></rm-live-metric>
								<span class="label-alpha pull-right">
									<rm-live format="percent">service("exodoc.doc_total_download").metric / service("exodoc.doc_total").metric</rm-live> %
								</span>
							</td></tr>
						</table>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="rm-cell rm-cell-bordered" interval="5m">
						<h2>Marketing</h2>
						<table class="rm-table">
							<tr><td>used coupons</td><td><rm-live-metric service="exodoc.coupon_used"></rm-live-metric></td></tr>
							<tr><td>active subscriptions</td><td><rm-live-metric service="exodoc.active_subscriptions"></rm-live-metric></td></tr>
							<tr><td>storage sold</td><td><rm-live-metric format="file-size" service="exodoc.account_size_sold"></rm-live-metric>
								<span class="label-alpha pull-right">
									<rm-live format="percent">service("exodoc.account_size_sold").metric / (400 * 1024 * 1024 * 1024 )</rm-live> %
								</span>
							</td></tr>
							<tr><td>storage used</td><td>
								<rm-live format="file-size">service("exodoc.file_total_size").metric + service("exodoc.doc_total_size").metric</rm-live>
								<span class="label-alpha pull-right">
									<rm-live format="percent">( service("exodoc.file_total_size").metric + service("exodoc.doc_total_size").metric ) / service("exodoc.account_size_sold").metric </rm-live> %
								</span>
							</td></tr>
							<tr><td>org count</td><td><rm-live-metric service="exodoc.org_count"></rm-live-metric></td></tr>
							<tr><td>library count</td><td><rm-live-metric service="exodoc.library_count"></rm-live-metric></td></tr>
							<tr><td>topic count</td><td><rm-live-metric service="exodoc.topic_count"></rm-live-metric></td></tr>
						</table>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="rm-cell rm-cell-bordered">
						<h2>oAuth2 active tokens (60 days)</h2>
						<rm-graphite from="-60days" height="120" hide-legend=true y-min="0">
							<serie service="exodoc.oauth2_token_active" color="666666"></serie>
						</rm-graphite>
						<h2>User web login (60 days)</h2>
						<rm-graphite from="-60days" height="120" hide-legend=true y-min="0">
							<serie service="exodoc.user_week_login" color="666666"></serie>
						</rm-graphite>
					</div>
				</div>
			</div>

		</div>
	</div>
		</div>
	</body>
</html>
