<html ng-app="RiemannDashboardApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/dashboard.css">
		<meta name="apple-mobile-web-app-title" content="exodoc">
		<title>Exodoc dashboard</title>

		<script type="text/javascript" src="js/underscore-min.js"></script>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/ui-bootstrap-tpls.min.js"></script>
		<script type="text/javascript" src="js/jquery.sparkline.min.js"></script>

		<!-- Application -->
		<script type="text/javascript" src="app/js/controllers.js"></script>

	</head>
	<body>
		<div ng-controller="RiemannDashboardCtrl">
			<table style="width:100%;">
				<tbody>
					<tr ng-repeat="service in available_services">
						<td ng-repeat="(host, host_services) in dashboard" ng-style="td_style">
							<riemanncell data="host_services[service]"></riemanncell>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
