<html ng-app="ExodocDashboardApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/dashboard.css">
		<link rel="stylesheet" href="css/animate.min.css">
		<link rel="stylesheet" href="css/jquery.jqplot.css">

		<meta name="apple-mobile-web-app-title" content="exodoc">
		<title>Exodoc dashboard</title>
		<script type="text/javascript" src="js/config.js"></script>
		<script type="text/javascript" src="js/underscore-min.js"></script>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/ui-bootstrap-tpls.min.js"></script>
		<script type="text/javascript" src="js/jquery.sparkline.min.js"></script>
		<script type="text/javascript" src="js/jquery.easypiechart.min.js"></script>
		<script type="text/javascript" src="js/jquery.jqplot.min.js"></script>
		<script type="text/javascript" src="js/jqplot.donutRenderer.js"></script>
		<script type="text/javascript" src="js/juration.js"></script>
		<script type="text/javascript" src="js/cssua.js"></script>

		<!-- Application -->
		<script type="text/javascript" src="app/js/riemann.js"></script>
		<script type="text/javascript" src="app/js/app.js"></script>

	</head>
	<body style="background-color: #777; background-image: url('/img/data-center.jpg'); background-size: cover;">
		<div ng-controller="ExodocDashboardCtrl" class="container-fluid">
			<div ng-if="error" class="alert alert-danger">
				<span ng-bind="error"></span>
			</div>
			<h1>exo<b>doc</b> Key metrics <a class="btn-rounded btn btn-link btn-xs" ng-click="refresh()"><i class="glyphicon glyphicon-refresh"></i></a><rm-flip-clock class="pull-right"></rm-flip-clock></h1>
			<hr>
			<div class="row" host="exodoc">
				<div class="col-lg-3">
					<div class="rm-cell rm-cell-bordered">
						<h2>Documents security level</h2>
						<rm-donut interval="5m" height="250">
							<part target="exodoc.doc_public" color="#afa" count="true">Public</part>
							<part target="exodoc.doc_internal" color="#aaf" count="true">Internal</part>
							<part target="exodoc.doc_confidential" color="#eeb" count="true">Confid.</part>
							<part target="exodoc.doc_secret" color="#faa" count="true">Secret</part>
						</rm-donut>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="rm-cell rm-cell-bordered">
						<h2>Users</h2>
						<table class="rm-table">
							<tr><td>active</td><td><rm-live-metric service="exodoc.user_active"></rm-live-metric>
								<span class="label-alpha pull-right">
									<rm-tendency service="exodoc.user_active" from="-7days"></rm-tendency>
								</span>
							</td></tr>
							<tr><td>90 days inactive</td><td>
								<rm-live-metric service="exodoc.user_90_inactive"></rm-live-metric>
								<span class="label-alpha pull-right">
									<rm-tendency reversed service="exodoc.user_90_inactive" from="-90days"></rm-tendency>
								</span>
							</td></tr>
							<tr><td>active oauth2</td><td>
								<rm-live-metric service="exodoc.oauth2_token_active"></rm-live-metric>
								<span class="label-alpha pull-right">
									<rm-tendency service="exodoc.oauth2_token_active" from="-2days"></rm-tendency>
								</span>
							</td></tr>
						</table>
						<h2>Files</h2>
						<table class="rm-table">
							<tr><td>count</td><td><rm-live-metric service="exodoc.file_ready"></rm-live-metric></td></tr>
							<tr><td>size</td><td><rm-live-metric format="file-size" service="exodoc.file_total_size"></rm-live-metric></td></tr>
							<tr><td>duplication</td><td><rm-live-metric format="percent" service="exodoc.file_copy"></rm-live-metric> %</td></tr>
							<tr><td>change factor</td><td><rm-live-metric format="fixed-2" service="exodoc.file_avg_version"></rm-live-metric></td></tr>
						</table>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="rm-cell rm-cell-bordered" interval="5m">
						<h2>Documents</h2>
						<table class="rm-table">
							<tr><td>total</td><td><rm-live-metric service="exodoc.doc_total"></rm-live-metric></td></tr>
							<tr><td>total size</td><td><rm-live-metric format="file-size" service="exodoc.doc_total_size"></rm-live-metric></td></tr>
							<tr><td>duplication</td><td><rm-live-metric format="percent" service="exodoc.doc_copy"></rm-live-metric> %</td></tr>
							<tr><td>change factor</td><td><rm-live-metric format="fixed-2" service="exodoc.doc_avg_version"></rm-live-metric></td></tr>
							<tr><td>download count</td><td>
								<rm-live-metric service="exodoc.doc_total_download"></rm-live-metric>
								<span class="label-alpha pull-right">
									<rm-live format="percent">service("exodoc.doc_total_download").metric / service("exodoc.doc_total").metric</rm-live> %
								</span>
							</td></tr>
						</table>
					</div>
				</div>
			</div>
			<hr>
			<div class="row" host="exodoc">
				<div class="col-lg-3">
					<div class="rm-cell rm-cell-bordered" interval="5m">
						<h2>Marketing</h2>
						<table class="rm-table">
							<tr><td>used coupons</td><td><rm-live-metric service="exodoc.coupon_used"></rm-live-metric></td></tr>
							<tr><td>active subscriptions</td><td><rm-live-metric service="exodoc.active_subscriptions"></rm-live-metric></td></tr>
							<tr><td>storage sold</td><td><rm-live-metric format="file-size" service="exodoc.account_size_sold"></rm-live-metric>
								<span class="label-alpha pull-right">
									<rm-live format="percent">service("exodoc.account_size_sold").metric / (400 * 1024 * 1024 * 1024 )</rm-live> %
								</span>
							</td></tr>
							<tr><td>storage used</td><td>
								<rm-live format="file-size">service("exodoc.file_total_size").metric + service("exodoc.doc_total_size").metric</rm-live>
								<span class="label-alpha pull-right">
									<rm-live format="percent">( service("exodoc.file_total_size").metric + service("exodoc.doc_total_size").metric ) / service("exodoc.account_size_sold").metric </rm-live> %
								</span>
							</td></tr>
							<tr><td>org count</td><td><rm-live-metric service="exodoc.org_count"></rm-live-metric></td></tr>
							<tr><td>library count</td><td><rm-live-metric service="exodoc.library_count"></rm-live-metric></td></tr>
							<tr><td>topic count</td><td><rm-live-metric service="exodoc.topic_count"></rm-live-metric></td></tr>
						</table>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="rm-cell rm-cell-bordered">
						<h2>oAuth2 active tokens (60 days)</h2>
						<rm-graphite from="-60days" height="120" hide-legend=true>
							<serie service="exodoc.oauth2_token_active" color="666666"></serie>
						</rm-graphite>
						<h2>User web login (60 days)</h2>
						<rm-graphite from="-60days" height="120" hide-legend=true>
							<serie service="exodoc.user_week_login" color="666666"></serie>
						</rm-graphite>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="rm-cell rm-cell-bordered">
						<h2>Storage (60 days)</h2>
						<rm-graphite host="cs-node-0001" from="-60days" height="120" hide-legend=true>
							<serie service="disk /" color="666666"></serie>
						</rm-graphite>
					</div>
				</div>
				<div class="col-lg-1">
					<div class="rm-cell rm-cell-bordered">
						<h2>Storage</h2>
						<rm-easy-pie host="cs-node-0001" service="disk /" size="80" unit="%">
							</rm-easy-pie>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
