<html ng-app="ExodocDashboardApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/dashboard.css">
		<link rel="stylesheet" href="css/animate.min.css">
		<link rel="stylesheet" href="css/jquery.jqplot.css">
		<link rel="stylesheet" href="css/vis.min.css">

		<meta name="apple-mobile-web-app-title" content="exodoc">
		<title>Exodoc dev dashboard</title>
		<script type="text/javascript" src="js/config.js"></script>
		<script type="text/javascript" src="js/underscore-min.js"></script>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/ui-bootstrap-tpls.min.js"></script>
		<script type="text/javascript" src="js/jquery.sparkline.min.js"></script>
		<script type="text/javascript" src="js/jquery.easypiechart.min.js"></script>
		<script type="text/javascript" src="js/jquery.jqplot.min.js"></script>
		<script type="text/javascript" src="js/jqplot.donutRenderer.js"></script>
		<script type="text/javascript" src="js/juration.js"></script>
		<script type="text/javascript" src="js/cssua.js"></script>
		<script type="text/javascript" src="js/vis.min.js"></script>

		<!-- Application -->
		<script type="text/javascript" src="app/js/riemann.js"></script>
		<script type="text/javascript" src="app/js/app.js"></script>

	</head>
	<body style="background-image: url('/img/background.jpg');">
		<div ng-controller="ExodocMapdCtrl" class="container-fluid" interval="30s">
			<div ng-if="error" class="alert alert-danger">
				<span ng-bind="error"></span>
			</div>
			<h1>exo<b>doc</b> Sandbox<a class="btn-rounded btn btn-link btn-xs" ng-click="refresh()"><i class="glyphicon glyphicon-refresh"></i></a><rm-flip-clock class="pull-right"></rm-flip-clock></h1>
			<hr>
			<div class="row" host="exodoc">
				<div class="col-lg-4">
					<h3 class="title-group">
						All hosts
						<small ng-if="status.connected" class="rm-cell-state rm-state-ok pull-right">Connected</small>
						<small ng-if="!status.connected" class="rm-cell-state rm-state-critical pull-right">disconnected</small>
					</h3>
					<table class="rm-table">
						<thead>
							<tr>
								<th style="width:50%;"></th>
								<th>Load</th>
								<th>Memory</th>
								<th>Disk /</th>
							</tr>
						</thead>
						<tbody>
							<tr class="span-width" ng-repeat="(host, services) in all_hosts">
								<td>
									<span class="rm-cell-state-2x rm-state-{{services.cpu.state}}">{{host}}</span>
								</td>
								<td>
									<span class="rm-cell-state rm-state-{{services.load.state}}" ng-hide="!services.load.state">
										{{services.load.metric * 100.0|number:2}} %
										<span class="mini-progress" style="width:{{services['load'].metric * 100.0|number:2}}%;"></span>
									</span>
								</td>
								<td>
									<span class="rm-cell-state rm-state-{{services.memory.state}}" ng-hide="!services.memory.state">
										{{services.memory.metric * 100.0|number:2}} %
										<span class="mini-progress" style="width:{{services['memory'].metric * 100.0|number:2}}%;"></span>
									</span>
								</td>
								<td>
									<span class="rm-cell-state rm-state-{{services['disk /'].state}}" ng-hide="!services['disk /'].state">
										{{services['disk /'].metric * 100.0|number:2}} %
										<span class="mini-progress" style="width:{{services['disk /'].metric * 100.0|number:2}}%;"></span>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="col-lg-8">
					<visualmon width="100%" height="100%">
						<node x=-300 name="front-1" level=0 host="front-prod-exodoc-1" status="haproxy.prod-exodoc-https.FRONTEND.req_rate" metric="" shape="box"></node>

						<node x=1 name="prod-exodoc-nginx" level=1 host="dev-exodoc" status="nginx.active" metric="" shape="box"></node>

						<node x=-300 name="prod-exodoc-upload" level=2 host="prod-exodoc-upload-1" status="nginx.active" metric="" shape="ellipse"></node>
						<node x=-70 name="django" level=2 host="exodoc" status="exodoc.web" metric="" shape="ellipse"></node>
						<node x=70 name="nodejs" level=2 host="exodoc" status="exodoc.api" metric="" shape="ellipse"></node>
						<node x=300 name="transform" level=2 host="exodoc-transform." status="actarus" metric="" shape="ellipse"></node>

						<node x=-70 name="postgresql" level=5 host="exodoc" status="DB.exodoc.size" metric="" shape="database"></node>
						<node x=70 name="redis" level=5 host="exodoc" status="redis" metric="" shape="database"></node>

						<node x=300 name="front-cdn-1" level=5 host="front-cdn-1" status="haproxy.s3-http.FRONTEND.req_rate" metric="" shape="box"></node>

						<node x=-300 name="email" label="email" level=6 host="email" status="" shape="ellipse"></node>

						<node X=300 name="riak-cs" level=6 host="cs-node-0001" status="riak.disk" metric="" shape="database"></node>

						<!-- edges -->
						<edge src="front-1" dst="prod-exodoc-nginx" host="front-prod-exodoc-1" status="haproxy.prod-exodoc-backend.prod-exodoc-1.req_rate"></edge>
						<edge src="front-1" dst="prod-exodoc-upload" host="front-prod-exodoc-1" status="haproxy.prod-exodoc-upload-backend.prod-exodoc-upload-1.req_rate"></edge>

						<edge src="prod-exodoc-nginx" dst="nodejs" host="exodoc" status=""></edge>
						<edge src="prod-exodoc-nginx" dst="django" host="exodoc" status=""></edge>

						<edge src="nodejs" dst="redis" host="dev-exodoc" status="exodoc.api.conn_redis"></edge>
						<edge src="nodejs" dst="front-cdn-1" host="dev-exodoc" status="exodoc.api.conn_cdn"></edge>

						<edge src="django" dst="front-cdn-1" host="dev-exodoc" status=""></edge>
						<edge src="django" dst="postgresql" host="dev-exodoc" status="exodoc.conn_db"></edge>
						<edge src="django" dst="redis" host="dev-exodoc" status="exodoc.conn_redis"></edge>
						<edge src="django" dst="email" host="dev-exodoc" status="exodoc.conn_smtp"></edge>
						<edge src="django" dst="nsq-dj" host="dev-exodoc" status=""></edge>

						<edge src="prod-exodoc-upload" dst="postgresql" host="dev-exodoc-upload" status="exodoc.conn_db"></edge>
						<edge src="prod-exodoc-upload" dst="redis" host="dev-exodoc-upload" status="exodoc.conn_redis"></edge>
						<edge src="prod-exodoc-upload" dst="front-cdn-1" host="dev-exodoc" status=""></edge>
						<edge src="prod-exodoc-upload" dst="nsq-up" host="dev-exodoc" status=""></edge>
						<edge src="prod-exodoc-upload" dst="email" host="dev-exodoc" status="exodoc.conn_snmp"></edge>

						<edge src="transform" dst="nsq-tr" host="dev-exodoc-upload" status=""></edge>

						<edge src="front-cdn-1" dst="riak-cs" host="front-cdn-1" status="haproxy.riak_cs_backend.riak1.req_rate" length=100></edge>

					</visualmon>
				</div>
			</div>

		</div>
	</body>
</html>