<div class="img riemann-cell" ng-class="data.classes" ng-if="data">
	<div class="head">
		<span class="host">{{data.host}}</span>
		<span class="service pull-right">{{data.name}}</span>
	</div>
	<div ng-if="data.values">
		<table class="sub-values">
			<tr ng-repeat="(key, val) in data.values">
				<td class="sub-name" ng-class="val.classes">{{ val.name }}</td>
				<td>
					<div class="sub-value"><span ng-bind-html="val.value"></span></div>
				</td>
				<td>
					<sparkline data="{{val.sparklines}}"></sparkline>
				</td>
			</tr>
		</table>
		<table class="sub-groups" ng-repeat="(key, group) in data.groups">
			<caption>{{key}}</caption>
			<tr>
				<td ng-repeat="(k, item) in group">
					<div class="group-cell">
						<span class="group-item" ng-bind-html="item.name"></span> <span class="group-value" ng-bind-html="item.value"></span>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div ng-if="!data.values">
		<div class="value"><span ng-bind-html="data.value"></span></div>
	</div>
	<div ng-if="data.sparklines" class="sparklines">
		<sparkline data="{{data.sparklines}}"></sparkline>
	</div>
</div>